.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  padding: 22px 24px 12px;
  display: flex;
  min-height: 70px;
  z-index: 10;

  @include media-breakpoint-up(xxl) {
    padding: 1.14vw 24px 0.625vw;
  }

  @include media-breakpoint-down(sm) {
    padding: 30px 24px 0;
  }

  @include media-breakpoint-down(xs) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header__navigation {
  margin-top: -8px;
}

.header__navigation {
  @include media-breakpoint-down(sm) {
    text-align: center;
    margin-top: 60px;
  }

  &.collapsing {
    background: $white;
  }
}

.header__link {
  margin-left: 72px;

  @include media-breakpoint-up(xxl) {
    margin-left: 3.75vw;
  }

  @include media-breakpoint-down(lg) {
    margin-left: 60px;
  }

  @include media-breakpoint-down(md) {
    margin-left: 3.3vw;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-top: 78px;
    padding: 1.38em 5.58em;
    background: $green;
    font-size: 16px;
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}
@include media-breakpoint-down(sm) {
  body.mobile-menu_open {
    .header {
      position: fixed;
      height: 100%;
      background: $white;
      overflow: hidden auto;
    }

    .dropdown-menu {
      transition: all 0s;
    }

    .mobile-menu {
      background: $white;
      height: 20px;

      > span {
        width: 24px;
        transform: rotate(45deg) translate(-2px, 0px);
        top: 50%;
        background: $black;

        &:before {
          transform: scaleX(0);
        }

        &:after {
          transform: rotate(90deg) translate(-1px, 0px);
          top: 50%;
          background: $black;
          box-shadow: none;
        }
      }
    }
  }
}
