.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style: none;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.navbar__item + .navbar__item {
  margin-left: 56px;

  @include media-breakpoint-down(lg) {
    margin-left: 4vw;
  }

  @include media-breakpoint-down(md) {
    margin-left: 2vw;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-top: 40px;
  }
}

.navbar__item {
  position: relative;

  &:last-child .navbar__link > svg, &:nth-last-child(2) .navbar__link > svg {
    display: none;
  }

  &:first-child .navbar__link > svg {
    fill: #00A9BC;
  }

  &:nth-child(2) .navbar__link > svg {
    fill: #1A9B4A;
  }

  &:nth-child(3) .navbar__link > svg {
    fill: #FDDF02;
  }

  &:hover {
    > .navbar-sub-menu {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.navbar__link {
  position: relative;
  padding: 0;
  color: $white;
  text-transform: capitalize;
  font-family: $font-family-primary;
  font-weight: $font-weight-semi-bold;
  font-size: 16px;
  letter-spacing: 1.1px;
  white-space: nowrap;
  transition: color 0.4s;
  transition: opacity 0.4s;

  @include media-breakpoint-down(md) {
    font-size: 14px;
  }

  > svg {
    width: 10px;
    height: 6px;
    margin-left: 8px;

    @include media-breakpoint-down(md) {
      margin-left: 2px;
    }
  }

  &:first-child > svg {
    fill: red;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 0.74vw;
  }
}

span.navbar__link {
  cursor: pointer;
}

.navbar__link:hover {
  opacity: 0.5;
}

.navbar-sub-menu {
  position: absolute;
  top: 100%;
  left: -20px;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}
