.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style: none;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    transform: none;
    margin-bottom: 90px;
  }

  > .navbar__item + .navbar__item {
    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
  }

  .navbar__item > .navbar__link {
    .navbar__link-underline {
      display: block;
      position: absolute;
      top: calc(100% - 4px);
      left: -4px;
      right: -4px;
      height: 2px;
      background: $menuLinkHoverColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s;
    }
  }
}

.navbar__item + .navbar__item {
  margin-left: 80px;

  @include media-breakpoint-up(xxl) {
    margin-left: 5.2vw;
  }

  @include media-breakpoint-down(lg) {
    margin-left: 70px;
  }

  @include media-breakpoint-down(md) {
    margin-left: 4vw;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }
}

.navbar__item {
  position: relative;
  font-size: 12px;

  @include media-breakpoint-up(xl) {
    @include calcFontSize (1440px, 1920px, 12px, 16px);
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    width: 100%;
    box-shadow: 0 1px 0 0 rgba($white, 0.1);
    overflow: hidden;
  }

  &:hover {
    > .navbar-sub-menu-container {
      @include media-breakpoint-up(md) {
        opacity: 1;
        pointer-events: auto;
      }
    }

    > .navbar__link .navbar__link-underline {
      @include media-breakpoint-up(md) {
        transform: scaleX(1);
      }
      
    }
  }
}

.navbar__link {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  color: $black;
  font-weight: $font-weight-extra-bold;

  line-height: 2em;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-transform: uppercase;
  transition: color 0.4s;

  @include media-breakpoint-down(sm) {
    line-height: 1em;
    justify-content: center;
  }
}

.navbar__link-icon {
  width: 0.5em;
  height: 0.5em;
  border-right: 2px solid $black;
  border-bottom: 2px solid $black;
  margin-left: 0.83em;
  transform: rotate(45deg) translate(-0.17em, 0);
}

div.navbar__link {
  cursor: pointer;
}

.navbar-sub-menu {
  display: flex;
  list-style: none;

  @include media-breakpoint-down(sm) {
    margin-right: 0;
    max-width: none;
    width: 100%;
    flex-direction: column;
  }


  .navbar__link {
    display: flex;
    align-items: flex-start;
    position: relative;
    color: $white;
    text-transform: none;
    margin-bottom: 8px;
    transition: color 0.3s, background-color 0.3s;

    @include media-breakpoint-down(sm) {
      padding: 0;
      margin-bottom: 0;
      font-weight: $font-weight-light;
      align-items: center;
    }
  }

  .navbar__link:hover {
    .navbar-sub-menu__link-icon svg {
      fill: $white;
    }

    .navbar-sub-menu__link-title {
      color: $white !important;
    }
  }

  .navbar-sub-menu__link-icon {
    margin-right: 2.33em;

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
    }

    svg {
      width: 5.41em;
      height: auto;
      transition: fill 0.4s;

      @include media-breakpoint-down(sm) {
        width: 4.06em;
      }
    }
  }
}

.navbar-sub-menu__link-description {
    min-width: 176px;

    @include media-breakpoint-down(sm) {
      min-width: 0;
    }
}

.navbar-sub-menu__item {
  @include media-breakpoint-down(sm) {
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }
}

.navbar-sub-menu__item + .navbar-sub-menu__item {
  margin-left: 80px;

  @include media-breakpoint-up(xxl) {
    margin-left: 5.2vw;
  }

  @include media-breakpoint-down(md) {
    margin-left: 4vw;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 24px;
    padding-top: 26px;
    margin-left: 0;
    box-shadow: 0 -1px 0 0 $white;
  }
}

.navbar-sub-menu-container {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  padding: 4.16em 3.33em;
  background: $black;
  border-top: 3em solid rgba($white, 0);
  background-clip: padding-box;

  @include media-breakpoint-down(sm) {
    position: relative;
    transform: scaleY(1);
    max-height: 0;
    left: 0;
    opacity: 1;
    padding: 0 16px;
    border: none;
    transform-origin: top;
    transition: all 0.3s;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.08em;
    height: 1.08em;
    background: $black;
    top: 0;
    left: 2em;
    transform: rotate(45deg) translateY(-50%);

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.navbar-sub-menu__link-title {
  font-size: 1.67em;
  font-weight: $font-weight-extra-bold;
  line-height: 1.5em;
  text-transform: uppercase;
  transition: color 0.4s;

  @include media-breakpoint-down(sm) {
    font-size: 1em;
  }
}

.navbar-sub-menu__item:nth-child(1) {
  .navbar-sub-menu__link-title {
    color: $subMenuFirstColor;
  }

    .navbar-sub-menu__link-icon > svg {
    fill: $subMenuFirstColor;
  }
}

.navbar-sub-menu__item:nth-child(2) {
  .navbar-sub-menu__link-title {
    color: $subMenuSecondColor;
  }

  .navbar-sub-menu__link-icon > svg {
    fill: $subMenuSecondColor;
  }
}

.navbar-sub-menu__text {
  font-family: $font-family-Montserrat;
  font-weight: $font-weight-regular;
  font-size: 1.17em;
  line-height: 1.43em;
  color: $white;
  white-space: pre-wrap;
  margin-top: 0.43em;
  transition: color 0.3s;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.navbar__link_selected {
  .navbar__link-icon {

  }
  
  + .navbar-sub-menu-container {
    min-width: auto;

    @include media-breakpoint-down(sm) {
      max-height: 500px;
      pointer-events: auto;
      margin-top: 24px;

      @include media-breakpoint-down(sm) {
        padding: 26px 16px;
      }
    }

    .navbar-sub-menu-info {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  } 
}