.socials__list {
  font-size: 0;
}

.socials__item {
  font-size: 16px;
  line-height: 0;

  a {
    display: block;
  }
}

.socials__link:hover {
  .socials__icon {
    @include media-breakpoint-up(md) {
      fill: $green;
    }
  }
}

.socials__icon {
  width: 1.25em;
  height: 1.25em;
  fill: $black;
  transition: fill 0.3s;

  @include media-breakpoint-down(xs) {
    width: 15px;
    height: 14px;
  }
}