.blog-section-hero {
  padding-bottom: 64px;

  @include media-breakpoint-up (xl) {
    padding-bottom: 3.33vw;
  }

  .tags-group {
    display: flex;
    align-items: center;
    margin-top: 40px;

    @include media-breakpoint-up(xxl) {
      margin-top: 2.08vw;
    }

    @include media-breakpoint-down (sm) {
      display: none;
    }
  }

  .tag-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    border: 1px solid #B0AAE6;
    background: $white;

    @include media-breakpoint-up(xxl) {
      width: 9.58vw;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -1px;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 0.3s;
    }

    &:first-child {
      &.active {
        background: #FFD21F;
        border-color: #FFD21F;
      }

      &:before {
        background: #FFD21F;
      }
    }

    &:nth-child(2) {
      &.active {
        background: $accent-color;
        border-color: $accent-color;
      }

      &:before {
        background: $accent-color;
      }
    }

    &:nth-child(3) {
      &.active {
        background: #00A9BC;
        border-color: #00A9BC;
      }

      &:before {
        background: #00A9BC;
      }
    }
  }

  .tag-item.active {
    .tag-link {
      color: $black;
    }

    .tag-icon > svg {
      stroke: $black;
      fill: $white;
    }
  }

  .tag-item + .tag-item {
    border-left: none;
  }

  .tag-link {
    display: flex;
    align-items: center;
    padding: 16px 28px;
    color: #B0AAE6;

    @include media-breakpoint-up(xxl) {
      padding: 0.83vw 1.46vw;
    }
  }

  .tag-title {
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    font-size: 14px;
    white-space: nowrap;

    @include media-breakpoint-up(xxl) {
      font-size: 0.73vw;
    }
  }

  .tag-icon {
    display: flex;
    align-items: center;
    margin-right: 8px;

    @include media-breakpoint-up(xxl) {
      margin-right: 0.415vw;
    }

    > svg {
      stroke: #B0AAE6;
      fill: none;
    }
  }
}

@include media-breakpoint-up(md) {
  .tag-item:hover {
    &:before {
      transform: scaleY(1);
    }
  }
}
