<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main class="main blog-page"> 
          <div class="container">

            <div class="row align-items-center page-header">
              <div class="page-subtitle">Latest from the Blog</div>
              <div class="section-title">What We are Crazy About</div>
            </div>
            <div class="row post-hero post__item">
              {{ $posts := (where .Data.Pages "Type" "blog").ByDate.Reverse }}
              {{ range first 1 $posts }}
              <div class="col-sm-12 col-md-8 p-0 post-hero__image">
                <img src="/images/blog/{{ .Params.postImage }}" alt="post image">
              </div>
              <div class="col-sm-12 col-md-4 p-0 post-hero__content">
                  <a href="{{ .Permalink }}" class="post__title">
                    <span>{{ .Title }}</span>
                  </a>
                  <div class="post__description">{{ .Params.description }}</div>
                  <a href="{{ .Permalink }}" class="btn btn-green">read full story
                    
                      <svg class="btn-arrow__icon" viewBox="0 0 8 15">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/arrow.svg#arrow"></use>
                        </svg>
                  </a>
              </div>
              {{ end }}
            </div>

            <div class="row">
              <div class="row blog-posts">
                  {{ range after 1 $posts }}
                  <div class="col-12 col-sm-6 col-md-4 post__item">
                    <a href="{{ .Permalink }}" class="post__title">{{ .Title }}</a>
                    <div class="post__description">{{ .Params.description }}</div>
                    <img src="/images/blog/{{ .Params.postImage }}" alt="post image">
                  </div>
                  {{ end }}
              </div>

            </div>
          </div>


        </main>
    </body>

    {{- partial "footer.html" . -}}

    {{ $common := resources.Get "js/common.js" }}

    {{ $js := slice $common | resources.Concat "js/bundle.js" }}

    <script src="{{ $js.Permalink }}"></script>
</html>