{{ define "main" }}
<main class="main">
  <section class="inner-section-hero blog-section-hero">
    <div class="inner-section-hero__content">
      <h1 class="inner-section-hero__title"><span>Our Blog</span></h1>
      <p class="inner-section-hero__description">A composable Kubernetes distribution for on-premise, cloud, and hybrid environments.</p>
    </div>

    <div class="tags-group">
      <div class="tag-item active">
        <a href="#" class="tag-link">
          <div class="tag-icon">
            <svg class="post-type-icon star-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star-icon"></use>
            </svg>
          </div>
          <p class="tag-title">All CoreOS Posts</p>
        </a>
      </div>
      <div class="tag-item">
        <a href="#" class="tag-link">
          <div class="tag-icon">
              <svg class="post-type-icon technical-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wheel-icon"></use>
              </svg>
          </div>
          <p class="tag-title">Technical Posts</p>
        </a>
      </div>
      <div class="tag-item">
        <a href="#" class="tag-link">
          <div class="tag-icon">
            <svg class="post-type-icon horn-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#horn-icon"></use>
            </svg>
          </div>
          <p class="tag-title">Announcements</p>
        </a>
      </div>
    </div>
  </section>

  <section class="section-blog">
    <div class="container">

    <div class="tags-group__mobile">
        <div class="tags-group__title">Filter by</div>
  
        <select name="tags-select" id="tags-select" class="tags-select select-dropdown">
            <option value="all" selected class="all">All CoreOS Posts</option>
            <option value="technical">Technical Posts</option>
            <option value="announcements">Announcements</option>
          </select>
      </div>

      <div class="blog-header">
        <div class="post-main">
          {{ range where $.Site.RegularPages "Section" "blog" }}
          {{ if isset .Params "primary" }}
          <div class="post__icon">
            {{ if eq .Params.filterType "technical" }}
            <svg class="post-type-icon technical-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wheel-icon"></use>
            </svg>
            {{ else if eq .Params.filterType "all" }}
            <svg class="post-type-icon star-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star-icon"></use>
            </svg>
            {{ else if eq .Params.filterType "announcements" }}
            <svg class="post-type-icon horn-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#horn-icon"></use>
            </svg>
            {{ end }}
          </div>
          <div class="post__image">
            <img src="/images/posts/{{ .Params.image }}" alt="">
          </div>
          <div class="post__content">
            <a href="{{ .Permalink }}" class="post__title">{{ .Title }}</a>
            <p class="post__description">{{ .Params.description }}</p>
          </div>
          <div class="post__info">
            <div class="post__author-image">
              <img src="/images/posts/{{ .Params.authorImage }}" alt="">
            </div>
            <div class="post__author">by {{ .Params.author }}</div>
            <div class="post__date">{{ .Date.Format "Jan 2, 2006" }}</div>
          </div>
          {{ end }}
          {{ end }}
        </div>
        <ul class="post-list">

          {{ range $index, $value := (where $.Site.RegularPages "Section" "blog").ByDate }}
          {{ if and (not (isset .Params "primary")) (lt $index 4) }}


          <li class="post-item">
            
            <a href="{{ .Permalink }}" class="post__title">{{ .Title }}</a>
            <div class="post__info">
              <div class="post__author">by {{ .Params.author }}</div>
              <div class="post__date">{{ .Date.Format "Jan 2, 2006" }}</div>
            </div>
            <a href="{{ .Permalink }}" class="link post__link">learn more</a>
          </li>

          {{ end }}
          {{ end }}
        </ul>
      </div>

      <ul class="blog-list">
        {{ range $index, $value := (where $.Site.RegularPages "Section" "blog").ByDate }}
        {{ if and (not (isset .Params "primary")) (gt $index 3) (lt $index 10) }}
        <li class="post__item">
          <div class="post__icon">
            {{ if eq .Params.filterType "technical" }}
            <svg class="post-type-icon technical-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wheel-icon"></use>
            </svg>
            {{ else if eq .Params.filterType "all" }}
            <svg class="post-type-icon star-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star-icon"></use>
            </svg>
            {{ else if eq .Params.filterType "announcements" }}
            <svg class="post-type-icon horn-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#horn-icon"></use>
            </svg>
            {{ end }}
          </div> 

          <div class="post__image">
            <img src="/images/posts/{{ .Params.image }}" alt="{{ .Title }}">
          </div>
          <a href="{{ .Permalink }}" class="post__title">{{ .Title }}</a>
          <div class="post__info">
            <div class="post__author">by {{ .Params.author }}</div>
            <div class="post__date">{{ .Date.Format "Jan 2, 2006" }}</div>
          </div>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </section>

</main>
{{ end }}

{{ define "scripts" }} 
<script src="/js/slimselect.min.js"></script>

{{ $common := resources.Get "js/common.js" }}
{{ $global := resources.Get "js/blog.js" }}

{{ $js := slice $common $global | resources.Concat "js/blog-bundle.js" }}

<script src="{{ $js.Permalink }}"></script>
{{ end }}