@font-face {
  font-family: FiveByFive;
  src: url("../../static/fonts/FiveByFive.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../../static/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../../static/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: Cairo;
  src: url("../../static/fonts/Cairo/Cairo-Bold.ttf") format("truetype");
  font-style: normal;
}
