//BUTTONS
$linkBlackColor: #000000;
$linkGreenColor: #17B838;

// HEADER

$menuLinkHoverColor: #FFF200;

$subMenuFirstColor: #23ECFA;
$subMenuSecondColor: #FFF200;

$headerButtonMobileColor: #17B838;

// HERO SECTION

$quotesColor: #17B838;

$companiesBackgroundColor: #000000;
$companiesSquareFrontColor: #17B838;
$companiesSquareBackColor: #ffffff;

//FOOTER

$footerLinkColor: #000000;
$footerLineColor: #C4C4C4;
$footerLinkHoverColor: #17B838;
$socialsLinkHoverColor: #17B838;

//LOKOMOTIVE SECTION

$lokomotiveBackgroundColor: #FFE000;
$lokomotiveLogoColor: #000000;
$lokomotiveSlideIndexBackground: #17B838;
$lokomotiveSlideIndexColor: #ffffff;
$lokomotiveSliderPaginationActiveColor: #ffffff;
$lokomotiveSliderPaginationColor: #BE8900;

//WORK ON SECTION

$workOnBackgroundColor: #ffffff;

//CONTACT US

$mapShadowColor: #FFF200;
$formErrorColor: #FF0101;

