.btn {
  position: relative;
  text-transform: uppercase;
}

.btn-black {
  position: relative;
  background: $black;
  color: $white;
  box-shadow: inset 0 0 0 3px $black;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    box-shadow: none;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 0.3s;
    transform-origin: center;
  }
}

.btn-black:hover, .btn-black:focus {
  @include media-breakpoint-up(md) {
    color: $black;
    background: rgba($black, 0);
    box-shadow: inset 0 0 0 3px $black;
  }

  @include media-breakpoint-down(sm) {
    color: $white;
  }
}

.btn-black:active {
  color: $white;
  background: rgba($black, 1);
}

.btn-green {
  position: relative;
  background: $green;
  color: $white;
  box-shadow: inset 0 0 0 3px $green;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    box-shadow: none;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $green;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 0.3s;
    transform-origin: center;
  }
}

.btn-green:hover, .btn-green:focus {
  @include media-breakpoint-up(md) {
    color: $black;
    background: rgba($green, 0);
  }

  @include media-breakpoint-down(sm) {
    color: $white;
  }
}

.btn-green:active {
  color: $white;
  background: rgba($green, 1);
}

.btn-arrow__icon {
  position: absolute;
  right: 1.25em;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  fill: currentColor;
  width: 0.67em;
  margin-left: 22px;
}