html, body {
  overflow-x: hidden;
  height: 100%;
}

#content {
  height: auto;
}

body {
  position: relative;
  margin: 0;
  background: $white;
  font-family: $font-family-Montserrat;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1160px;

  @include media-breakpoint-up(xl) {
    max-width: none;
    @include calcWidth (1440px, 1920px, 1160px, 1510px);
  }

  @include media-breakpoint-down(sm) {
    padding: 0 16px;
  }
}