@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/mixins/breakpoints";
@import "./bootstrap/mixins/hover";

@import "./bootstrap/root";
@import "./bootstrap/reboot";

@import "./fonts";

@import "./partials/header.scss";
@import "./partials/navbar.scss";
@import "./sections/section-hero.scss";
@import "./sections/section-companies.scss";

.container {
  display: flex;
  width: 94%;
  margin: 0 auto;
  max-width: 1160px;
}

.button {
  min-height: 50px;
  background: url("/images/btn-bg.svg") no-repeat center;
  background-size: contain;
  border: none;
  color: $white;
  font-family: "FiveByFive";
  font-size: 14px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}