{{ partial "head.html" . }}

  <body>
    {{ partial "header.html" . }}

    <main>
      <section class="hero">
        <div class="hero__wrapper">
        {{ with .Site.GetPage "event/hero-event" }}
          <div class="hero__wrapper-inner">
            <p class="hero__data">{{ .Params.eventDate }}</p>
            <h1 class="hero__title">{{ .Title }}</h1>
            <p class="hero__hashtag">#{{ .Params.hashtag }}</p>
            <p class="hero__adress hero__adress--desktop">{{ .Params.eventPlace }}</p>
          </div>
          <div class="hero__image-wrapper">
            <img class="hero__image" src="/images/hero-image.png" width="430" height="422" alt="photo Barcelona">
            <img class="hero__background-dots" src="/images/hero-bg-dots-desktop.svg" alt="background dots">
            <picture>
              <source srcset="/images/x-desktop-icon.svg" media="(min-width: 768px)">
              <img class="hero__background-x" src="/images/x-mobile-icon.svg" alt="background x">
            </picture>
          </div>
        </div>
        <p class="hero__adress hero__adress--mobile">{{ .Params.eventPlace }}</p>
  
      </section>
      <section class="timer">
        <div class="timer__wrapper">
          <ul class="timer__list">
            <li class="timer__item">
                <div class="timer__month"></div> 
                <span>months</span>
            </li>
            <li class="timer__item">
                <div class="timer__week"></div> 
                <span>weeks</span>
            </li>
            <li class="timer__item">
                <div class="timer__days"></div> 
                <span>days</span>
            </li>
            <li class="timer__item">
                <div class="timer__hours"></div> 
                <span>hours</span>
            </li>
            <li class="timer__item">
                <div class="timer__minutes"></div> 
                <span>minutes</span>
            </li>
            <li class="timer__item">
                <div class="timer__second"></div> 
                <span>second</span>
            </li>
          </ul>
          <a class="timer__button button button--black" href="https://ti.to/cloud-native-rejekts/cloud-native-rejekts-eu-2019">Get your ticket</a>
        </div>
      </section>

      <section class="about">
        <p class="about__description">{{ .Params.description }}</p>
      </section>
      {{ end }}
      <section class="event-schedule" id="schedule">
        <div class="event-schedule__container">
          <div class="event-schedule__title-wrapper">
            <h2 class="event-schedule__title">Event_Schedule</h2>
            <img src="/images/schedule-title-decoration.svg" alt="title decoration">
          </div>
          <div class="event-schedule__cfp">
          {{ with .Site.GetPage "event/participation" }}
            <p><span>CFP opens</span> - {{ .Params.participation.opens }}</p>
            <p><span>CFP closes</span> - {{ .Params.participation.closes }}*</p>
          </div>
          <p class="event-schedule__footnote">/*{{ .Params.participation.comment }}*/</p>
          {{ end }}

          {{ with .Site.GetPage "event/event-schedule" }}
            {{ range .Params.events }}
              <h3 class="event-schedule__date">{{.date}}</h3>
              {{ range .event }}
              <div class="event-schedule__card">
                <span>{{ .title }}</span>
                <span>{{ .time }}</span>
              </div>
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </section>

      <section class="tickets">
        <div class="tickets__container">
          <h2 class="tickets__title">Tickets</h2>
          {{ with .Site.GetPage "event/tickets" }}
            {{ range .Params.tickets }}
              <div class="tickets__card">
                <div class="tickets__name">{{ .type }}</div>
                <div class="tickets__price">{{ .price.early }} <span>Early</span></div>
                <div class="tickets__price">{{ .price.standard }} <span>Standard</span></div>
                <div class="tickets__price">{{ .price.late }} <span>Late</span></div>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </section>

      <section class="morals" id="conduct">
          <div class="morals__title-wrapper">
            <h2 class="morals__title">Code_of_Conduct</h2>
            <img src="/images/title-decoration.svg" alt="title decoration">
          </div>
          <div class="morals__wrapper">
            <div class="morals__image-wrapper">
              <div class="morals__picture">
                <img class="" src="/images/photo-condact-desktop.jpg" width="820" height="1000" alt="man coding"
                  draggable="false">
              </div>
              <div class="morals__background-image">
                <img src="/images/dots-desktop.svg" alt="background dots" draggable="false">
              </div>
            </div>
            <div class="morals__text-wrapper">
              {{ with .Site.GetPage "event/code-of-conduct" }}
                <p class="morals__description">{{ .Params.description }}</p>
              {{ end }}
              <a class="morals__link" href="https://docs.google.com/document/d/109xZL43kryI8dtvm0z_MKv-J4oOa76clXY_TQN1oIvs/edit#" target="_blank">Read
                our code of conduct</a>
            </div>
          </div>
        </section>

        <section class="participation">
          <div class="participation__title-wrapper">
            <h2 class="participation__title">call_for_participation</h2>
            <picture>
              <source srcset="/images/participation-decoration-desktop.svg" media="(min-width: 1024px)" > 
              <img src="/images/participation-title-decoration.svg" width="280" height="50" alt="title decoration"
                draggable="false">
            </picture>
          </div>
          <div class="participation__wrapper">
            <div class="participation__image-wrapper">
              <div class="participation__picture">
                <img src="/images/participation-photo.jpg" width="820" height="1000" alt="man coding"
                  draggable="false">
              </div>
              <div class="participation__background-image">
                  <img src="/images/dots-desktop.svg" width="280" height="50" alt="background dots" draggable="false">
              </div>
              <a class="participation__link participation__link--desktop" href="#" target="_blank">Submit your presentation</a>
            </div>
            <div class="participation__text-wrapper">
              {{ with .Site.GetPage "event/participation" }}
              <div class="participation__schelude">
                <p class="participation__start-day">CFP opens - {{ .Params.participation.opens }}</p>
                <p class="participation__end-day">CFP closes - {{ .Params.participation.closes }}*</p>
                <p class="participation__footnote">/*{{ .Params.participation.comment }}*/</p>
              </div>
              <p class="participation__description">{{ .Params.description }}</p>
              <ul class="participation__list">
                {{ range .Params.topics }}
                <li class="participation__item">{{ . }}</li>
                {{ end }}
              </ul>
              {{ end }}
              <a class="participation__link" href="#" target="_blank">Submit your presentation</a>
            </div>
          </div>
        </section>

        <section class="venue">
          <div class="venue__wrapper">
            <div class="venue__wrapper-text">
              <h2 class="venue__title">The Venue</h2>
              {{ with .Site.GetPage "event/venue" }}
              <div class="venue__place">
                <img src="/images/{{ .Params.logo }}" width="90" height="90" alt="CREC Logo">
                <p>{{ .Params.place }}</p>
                <a class="venue__button venue__button--desktop button button--red" href="{{ .Params.mapLink }}" target="_blank">get derection</a>
              </div>
            </div>
            <div class="venue__image-wrapper">
              <img class="venue__image venue__image--first" src="/images/venue-photo-first.png" width="231" height="155" alt="mens looking on task" draggable="false">
              <img class="venue__image venue__image--second" src="/images/venue-photo-second.png" width="360" height="242" alt="meeting room" draggable="false">
              <img class="venue__image venue__image--third" src="/images/venue-photo-third.png" width="360" height="241" alt="meeting room" draggable="false">
            </div>
          </div>
          <div class="venue__wrapper">
            <div class="venue__map-wrapper">
              <img class="venue__map" src="/images/map.png" width="460" height="344" alt="{{ .Params.address }} {{ .Params.city }}" draggable="false">
              <p class="venue__adress">{{ .Params.address }} <span>{{ .Params.city }}</span></p>
            </div>
            {{ end }}
            <a class="venue__button venue__button--mobile button button--red" href="{{ .Params.mapLink }}" target="_blank">get derection</a>
            <form class="venue__form">
              <label for="input">Sign up for newsletter</label>
              <input type="email" id="input" placeholder="Enter your email address">
              <button class="venue__form--button button button--submit" type="submit">Submit</button>
            </form>
          </div>
        </section>
    </main>

    {{ partial "footer.html" . }}

  </body>
</html>