<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,700,900" rel="stylesheet">
    <title>{{ .Title }}</title>

    <!-- Custom CSS -->
    {{ $options := (dict "targetPath" "/css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "scss/index.scss" | resources.ToCSS $options }}

    <link rel="stylesheet" href="{{ $style.Permalink }}" />
  </head>