.social {
  display: none;

  @include media-breakpoint-up(lg){
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.social__link .social__icon {
  transition: fill 0.5s;
}

.social__link:first-child {
  margin-right: 25px;
}

.social__link:hover .social__icon {
  fill: $colorBlack;
}

.social__icon {
  fill: $colorRed;
}

.twitter-icon {
  width: 20px;
  height: 18px;
}

.instagram-icon {
  width: 16px;
  height: 16px;
}