.section-contact-us {
  h2 {
    position: relative;
    padding-top: 1.75em;

    @include media-breakpoint-down(xl) {
      padding-top: 63px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px !important;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin-bottom: 0.33em;
      width: 1.59em;
      height: 1.59em;
      background: url("/images/title-decoration.svg") no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(xl) {
        width: 51px;
        height: 51px;
      }
    }
  }

  img {
    box-shadow: 40px 40px 0 0 $yellow;

    @include media-breakpoint-down(md) {
      box-shadow: 20px 20px 0 0 $yellow;
    }
  }

  .map-wrap {
    padding-right: 40px;

    @include media-breakpoint-down(md) {
      padding-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 70px;
      padding-left: 0;
    }
  }

  .form-wrap {
    padding-left: 0;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
    }
  }
}