.section-product {
  padding: 86px 0 94px;

  .section-image {
    @include media-breakpoint-down(sm) {
      margin-bottom: 68px;
    }
  }

  .card-body {
    padding: 20px 0px 0px;
  } 

  .card-title {
    margin-bottom: 20px;
  }

  .card__index {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: $green;
    color: $white;
    font-weight: $font-weight-semi-bold;
    margin: auto;
    justify-content: center;
    align-items: center;
    line-height: 0;
  }

  .btn {
    @include media-breakpoint-down(xs) {
      font-size: 13px;
      padding: 1.43em 2.975em;
    }
  }
}