<article class="article">
  <div class="container">
    <div class="row">
      <div class="article__header">
        <div class="article__subheader">Latest rom the blog</div>
        <div class="article__title">{{ .Title }}</div>

        <div class="article__hero-image">
          <img src="/images/blog/{{ .Params.heroImage }}" alt="article image">
        </div>
      </div>

      <div class="col-md-4 aside">
        <div class="article__author">
          <div class="aside__title">AUTHOR</div>
          <div class="article__author-name">{{ .Params.author }}</div>
          <div class="article__author-position">{{ .Params.authorPosition }}</div>
        </div>

        <div class="article__product">
          <div class="aside__title">our product</div>
          <a href="{{ .Params.productLink }}">
            <img src="/images/blog/{{ .Params.productImage }}" alt="product image">
            <span>{{ .Params.productTitle }}</span>
          </a>
        </div>

        <div class="article__related">
          <div class="aside__title">relateD ARTICLES </div>

          <div class="article__related-item">
            <img src="/images/blog/related-image1.jpg" alt="post image">
            <div class="article__related-title">We believe all of these tools fit well in a system</div>
            <div class="article__related-author">by Chris</div>
          </div>

          <div class="article__related-item">
            <img src="/images/blog/related-image2.jpg" alt="post image">
            <div class="article__related-title">Kubernetes Monitoring: Fundamentals</div>
            <div class="article__related-author">by Chris</div>
          </div>
        </div>
      </div>
      <div class="col-md-8 article__content">
          {{ .Content }}

          {{if .NextInSection}}
            next
          {{ end }}
      </div>
    </div>
  </div>
</article>