<article class="article">
  <div class="container">


      <div class="row align-items-center page-header">
          <div class="section-title">{{ .Title }}</div>
      </div>

      <div class="row article__hero-image">
          <img src="/media/{{ .Params.postImage }}" alt="article image">
        </div>

        <div class="row article__wrap">
            <div class="col-md-4 aside">
              
                <div class="row col-12 p-0  article__related">
                  <div class="col-12 aside__title">RELATED ARTICLES </div>

                  {{ $page_link := .Permalink }}
                  {{ $tags := .Params.tags }}
                  {{ range .Site.Pages.ByDate.Reverse }}
                    {{ $page := . }}
                    {{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
                    {{ if and $has_common_tags (ne $page_link $page.Permalink) (lt ($.Scratch.Get "$i") 2)}}
                      {{ $.Scratch.Add "$i" 1 }}
                      <div class="col-12 col-sm-6 col-md-9 article__related-item">
                          <img src="/media/{{ $page.Params.postImage }}" alt="post image">
                          <a href="{{ $page.RelPermalink }}" class="article__related-title">{{ $page.Title | markdownify }}</a>
                          <div class="article__related-author">
                            {{ range $page.Params.authors }}
                              <span>{{ . }}</span>
                            {{ end }}
                          </div>
                        </div>
                    {{ end }}
                  {{ end }}
        

                </div>
              </div>
              <div class="col-md-8 article__content">
                  {{ .Content }}
        
                  <div class="article__author">
                    <div class="aside__title">AUTHOR</div>
                    <div class="article__author-name">
                      {{ range .Params.authors }}
                        <span>{{ . }}</span>
                      {{ end }}
                    </div>
                  </div>

                  <div class="row no-gutters justify-content-between article__navigation">

                      <div class="article__navigation-item article__navigation-back">
                          <a href="{{ if .PrevInSection }}{{ .PrevInSection.Permalink }}{{ end }}" class="article__navigation-link {{ if not .PrevInSection }}disabled{{ end }}">
                              <div class="article__navigation-icon">
                                  <svg class="btn-arrow__icon" viewBox="0 0 12 20">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/arrow-big.svg#arrow-big"></use>
                                    </svg>
                              </div>
                            <span>back</span>

                          </a>
                        </div>
                    <div class="article__navigation-item article__navigation-next">
                      <a href="{{ if .NextInSection }}{{ .NextInSection.Permalink }}{{ end }}" class="article__navigation-link {{ if not .NextInSection }}disabled{{ end }}">
                        <span>next</span>
                        <div class="article__navigation-icon">
                            <svg class="btn-arrow__icon" viewBox="0 0 12 20">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/arrow-big.svg#arrow-big"></use>
                              </svg>
                        </div>
                      </a>
                    </div>

                  </div>
      
              </div>
        </div>
  </div>
</article>