<div class="card">
  <div class="card-img">
    <img src="img/{{ .Section }}/{{ .Params.photo }}" alt="">
  </div>
  <div class="card-title">{{ .Title }}</div>
  <div class="card-subtitle">{{ .Params.subtitle }}</div>

  {{ if isset .Params "button" }}
    <button class="btn">{{ .Params.button }}</button>
  {{ end }}


    <div class="card-socials">
      <ul class="card-socials-list">
          {{ if isset .Params "github" }}
          <li class="list-inline-item"><a href="https://github.com/{{ .Params.github }}"><i class="fa fa-github"></i></a></li>
          {{ end }}
          {{ if isset .Params "linkedin" }}
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/{{ .Params.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
          {{ end }}
          {{ if isset .Params "twitter" }}
          <li class="list-inline-item"><a href="https://twitter.com/{{ .Params.twitter }}"><i class="fa fa-twitter"></i></a></li>
          {{ end }}
      </ul>
    </div>

</div>