<section id="section-contact-us" class="section-contact-us">
  <div class="contact-us-block">
    <h2 class="contact-us-block__title">Contact us...</h2>
    <form action="/" class="form contact-us-form" autocomplete="off" name="contact-us-form" netlify>
      <div class="form__row">
        <div class="form__group">
          <label for="contact-name" class="form__label">Enter your name *</label>
          <input type="text" id="contact-name" name="contact-name" class="form__input">
          <div class="form__error-message">Please enter your name</div>
        </div>
        <div class="form__group">
          <label for="contact-mail" class="form__label">Enter your email *</label>
          <input type="text" id="contact-mail" name="contact-mail" class="form__input">
          <div class="form__error-message">Your email is incorrect.</div>
        </div>
      </div>
      <div class="form__row form__textarea-row">
        <div class="form__group form__group_full">
          <label for="contact-message" class="form__label">Type your message</label>
          <textarea name="contact-message" id="contact-message" class="form__input form__textarea"></textarea>
          <div class="form__error-message">Please enter your message</div>
        </div>

      </div>
      <div class="form__row form__checkbox-row">
        <button class="button contact-us-form__button">
          <span>Send</span>
          <div class="button__background"></div>
        </button>
        <label for="subscribe" class="form__label checkbox-label">
          <input type="checkbox" class="form__checkbox" id="subscribe" name="subscribe">
          <div class="checkbox-image"></div>
          Subscribe <span class="checkbox-label_desktop">&nbsp;to our newsletter?</span>
        </label>
      </div>
    </form>
  </div>
</section>