<footer class="footer">
  <div class="section-container">
    <div class="footer-nav">
        <div class="logo footer-logo">
            <a href="{{ .Site.BaseURL }}">
              <img src="{{ .Site.BaseURL }}img/logo.svg" alt="">
            </a>
          </div>
          <div class="footer-menu">
            {{ range .Site.Params.footer.navlist }}
            <div class="footer-column">
              <div class="footer-column-title">{{ .title }}</div>
              <ul class="footer-menu-list">
                {{ range .quicklinks }}
                <li class="footer-menu-item">
                  <a href="{{ .link }}" class="footer-menu-link">{{ .text }}</a>
                </li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </div>
          <div class="footer-form">
            <div class="footer-column-title">Subscribe</div>
            <form action="" class="subscribe-form">

            </form>
          </div>
    </div>
    <div class="footer-socials">
      <button class="btn">Impressum</button>
      <ul class="socials-list">
        {{ range .Site.Params.social }}
        <li class="socials-item">
          <a href="{{ .url }}" class="socials-link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-{{ .title }} fa-stack-1x"></i>
            </span>
            <span class="socials-title">{{ .title }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</footer>

<script src="{{ .Site.BaseURL }}js/ScrollMagic.js"></script>

<script src="{{ .Site.BaseURL }}js/TweenMax.min.js"></script>

<script src="{{ .Site.BaseURL }}js/animation.gsap.js"></script>

<script src="{{ .Site.BaseURL }}js/main.js"></script>

</body>

</html>