<form action="/" id="contact-us-form" class="form contact-us-form" novalidate autocomplete="off" name="contact-us-form" netlify>
  <div class="form-group">
    <input type="text" class="form-control form__input" id="input-name" name="name" placeholder="Name">
    <div class="form__error-message">Please enter your name</div>
  </div>
  <div class="form-group">
    <input type="email" class="form-control form__input" id="input-email" name="email" placeholder="Email">
    <div class="form__error-message">Please enter valid email</div>
  </div>
  <div class="form-group">
    <textarea class="form-control form__input form__textarea" id="input-message" name="message" rows="5" placeholder="Message"></textarea>
    <div class="form__error-message">Please enter your message</div>
  </div>

  <button class="btn btn-green w-100">Send</button>
</form>