<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">

  <link href="{{ .Site.BaseURL }}css/font-awesome.min.css"    rel="stylesheet" type="text/css">

  {{ $options := (dict "targetPath" ".{{ $style.Permalink }}css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
  {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options }}
  <link rel="stylesheet" href="css/style.css">
  {{/*  <link href="style.css" rel="stylesheet">  */}}
</head>