<section class="section-hero">
    {{ with .Site.GetPage "/sections/section-hero.md" }}
    <div class="section-hero__banner">
        <div class="container">
          <div class="section-hero__content">
              <h2 class="section-hero__title">
                {{ .Title }}
                <div class="quotes">
                  <svg width="41" height="29" viewBox="0 0 41 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 29V0L10 12H17.5V29H0Z" />
                    <path d="M23 29V0L33 12H40.5V29H23Z" />
                  </svg>
                </div>
              </h2>
              <p class="section-hero__text">{{ .Params.description }}</p>
          </div>
          <div class="section-hero__image">
            <img src="/images/{{ .Params.image }}" alt="hero-image">
          </div>
        </div>
      </div>

      <div class="section-companies">
          <div class="container">
            <div class="section-companies__title">We provide our services to companies like:</div>
            <ul class="section-companies__list">

              {{ range .Params.companies }}
                <li class="section-companies__item"><img src="/images/companies/{{ . }}" class="section-companies__image"
                    alt=""></li>
              {{ end }}
            </ul>
          </div>
        </div>
    {{ end }}
</section>