{{ with .Site.GetPage "/sections/section-lokomotive.md" }}
<section class="section-lokomotive">
  <div class="container">
      <div class="section-header">
        <div class="section-content">
          <div class="section-title">{{ .Title }}</div>
          <p class="section-description">{{ .Params.description }}</p>
        </div>
        <div class="section-image">
            <svg class="lokomotive-logo" viewBox="0 0 942 354">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/products/lokomotive-logo.svg#lokomotive-logo"></use>
              </svg>
        </div>
      </div>

      <div class="section-feature">
        <div class="feature-slider">
          <div id="lokomotive-slider" class="swiper-container feature-slider__container">
            <div class="swiper-wrapper feature-slider__wrapper">
              {{ range .Params.features }}
              <div class="swiper-slide feature-slider__item">
                <div class="feature-slider__index">{{ .index }}</div>
                <div class="feature-slider__title">{{ .title }}</div>
                <div class="feature-slider__description">{{ .description }}</div>
              </div>
              {{ end }}
            </div>
  
            <div id="lokomotive-slider__pagination" class="swiper-pagination feature-slider__pagination"></div>
          </div>
        </div>
        
        <div class="section__button-wrap">
          <a href="/" class="section__link link_black"></span>Read more about</a>
        </div>
      </div>
  </div>
</section>
{{ end }}