
    <ul class="navbar-nav align-items-center">
      {{ $currentPage := . }}
  
      {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
              <li class="nav-item dropdown">
                  
                <a href="/" class="nav-link dropdown-toggle">
                  {{ .Name }}
                  <span class="navbar__link-underline"></span>
                </a>
  
                  <ul class="dropdown-menu">
                    
        
                      {{ range $index, $elem := .Children }}
                      
                          <li class="dropdown-item p-0">
                              
                              <a href="{{ $elem.URL }}" class="dropdown-link">
                                
                                <div class="navbar-sub-menu__link-icon">
                                  {{ $elem.Pre }}
                                </div>
                                <div class="navbar-sub-menu__link-description">
                                  <div class="navbar-sub-menu__link-title">{{ $elem.Name }}</div>
                                  <p class="navbar-sub-menu__text">{{ $elem.Title }}</p>
                                </div>
                              </a>
                          </li>
                      {{ end }}
               
                  </ul>
              </li>
          {{ else }}
              <li class="nav-item">
                  <a href="{{ .URL }}" class="nav-link">
                    {{ .Name }}
                    <span class="navbar__link-underline"></span>
                  </a>
              </li>
          {{ end }}
      {{ end }}
    </ul>
  
    <a href="/" class="header__link btn btn-black"></span> Contact us</a>
