{{ with .Site.GetPage "/sections/section-what-we-do.md" }}
<section class="what-we-do-section">
  <div class="container">
    <div class="section-header">
      <div class="section-title">{{ .Title }}</div>
      <p class="section-description">{{ .Params.description }}</p>
      <div class="decorative-block decorative-block__top"></div>
    </div>

    <div class="services">
      <div class="services__list-title">{{ .Params.servicesTitle }}</div>
      <ul class="services__list">
        {{ range .Params.services }}
          <li class="services__item">
            <div class="services__item-wrap">
                <div class="services__image-wrap">
                    <img src="/images/services/{{ .icon }}" alt="service icon">
                </div>
                
                <div class="services__title">{{ .title }}</div>
            </div>
          </li>
        {{ end }}
      </ul>

      <div class="decorative-block decorative-block__left"></div>

      <div class="decorative-block decorative-block__right"></div>
    </div>

    <div class="section__button-wrap">
      <a href="/" class="section__link link_green"></span>Our approach</a>
    </div>
  </div>
</section>
{{ end }}