<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
      
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">
      
        <link href="{{ .Site.BaseURL }}css/font-awesome.min.css"    rel="stylesheet" type="text/css">
      
        {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
        {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
        {{/*  <link href="style.css" rel="stylesheet">  */}}
      </head>
  {{ partial "head.html" }}
<body class="home-page">
  {{ partial "header.html" . }}
  <main class="main home-main">
    <section class="section-hero">
      <div class="section-container">
          {{ with .Site.GetPage "section-hero" }}
          <div class="section-hero-content">
            <h2 class="section-hero-title">{{ .Title }}</h2>
            <p class="section-hero-text">{{ .Params.text }}</p>
          </div>
          {{ end }}
      </div>
    </section>

    <section class="section-team">
        {{ range where $.Site.RegularPages "Section" "team" }}
          {{ partial "card.html" . }}
        {{ end }}
    </section>
  </main>
  {{ partial "footer.html" . }}
