{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="main">
  {{ partial "hero-section.html" . }}

  {{ partial "lokomotive-section.html" . }}

  {{ partial "contact-us.html" . }}
</main>

{{ partial "footer.html" . }}

<script src="/js/swiper.min.js"></script>

{{ $common := resources.Get "js/common.js" }}
{{ $home := resources.Get "js/home.js" }}


{{ $js := slice $common $home | resources.Concat "js/bundle.js" }}

<script src="{{ $js.Permalink }}"></script>

</body>

</html>